%h1 Forgot nickname or password?
%p 
  If you don't remember your nickname, please follow the instructions to reset 
  your password and when you are back in the site, your username will be shown at the top right of the screen.
= form_tag password_resets_path
%label Email:
= text_field_tag "email"
%br
= submit_tag "Reset my password"

