<<<<<<< HEAD
/* line 1, ../../../app/stylesheets/ie7.sass */
.badge-name {
  float: none;
}

/* line 5, ../../../app/stylesheets/ie7.sass */
.leaderboard .badge {
  float: right;
}
=======
.badge-name { float: none; }

.leaderboard .badge { float: right; }
>>>>>>> f4c8989de81c88b92ecebc7a5f547d1f50a3d733
