/* line 4, ../../../app/stylesheets/widget.sass */
body {
  text-shadow: #000 0px -1px 1px;
  overflow: hidden;
  height: 100px;
  padding: 0px;
  margin: 0px;
}
/* line 10, ../../../app/stylesheets/widget.sass */
body .widget {
  font-family: Helvetica, sans-serif;
  background: black;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #666666), color-stop(0.24, #202020), color-stop(0.25, #141414), color-stop(0.93, black));
  background: -moz-linear-gradient(center top, white 0%, #e0e0e0 49%, #c9c9c9 50%, #a1a1a1 93%);
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#FFFFFFFF, endColorstr=#AAAAAAAA)";
  color: white;
  padding: 2px 5px;
  left: 4px;
  right: 4px;
  top: 4px;
  bottom: 4px;
  position: absolute;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border: 1px solid #666666;
  -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.5);
}
/* line 30, ../../../app/stylesheets/widget.sass */
body .username {
  float: right;
}
/* line 32, ../../../app/stylesheets/widget.sass */
body .add-trip {
  text-align: center;
  line-height: 65px;
}
