= form_for(:merge,:url => {:controller => 'groups', :action => 'merge',:id => group.id},:method => :post) do |form|
  = form.select('group_id',
    options_from_collection_for_select((group.owner.owned_groups-[group]),'id','name'))
  =   form.submit('merge groups', :class => 'button small', 
    :confirm => 'This merge cannot be undone - are you sure?')
                          
