- title "My Groups"

- if @owned_groups.total_entries > 0
  .group-grouping
    %h2 Groups I Created
    = render :partial => 'shared/leaderboard', :locals => { :items => @owned_groups, :group => false, :friendship => false }

.group-grouping
  %h2 Groups I Belong To
  = render :partial => 'shared/leaderboard', :locals => { :items => @memberships, :group => true, :friendship => false }
  - if current_user.community
    = render :partial => 'shared/leaderboard', :locals => { :items => [Community.find(current_user.community)], :group => false, :friendship => false }

- render :layout => 'shared/tip' do
  %p The Drive Less Challenge encourages you to socialize and engage in friendly competition with your peers at work, school, hobbies, and more. Join a group today!

%p= link_to 'Find, Join, and Create more Groups!', groups_path, :class => 'button'


