- title "My Groups"

- if @owned_groups.total_entries > 0
  .group-grouping
    %h2 Groups I'm Administering
    = render :partial => 'shared/leaderboard', :locals => { :items => @owned_groups, :group => true, :friendship => false }

.group-grouping
  %h2 Groups I'm Participating In
  = render :partial => 'shared/leaderboard', :locals => { :items => @groups_as_member, :group => true, :friendship => false }
  - if current_user.community
    = render :partial => 'shared/leaderboard', :locals => { :items => @community_members_leaderboard, :group => false, :friendship => false }

- render :layout => 'shared/tip' do
  %p The Drive Less Challenge encourages you to socialize and engage in friendly competition with your peers at work, school, hobbies, and more. Join a group today!

%p= link_to 'Find, Join, and Create more Groups!', groups_path, :class => 'button'
