- small ||= false
- name ||= nil
- unless small
  .badge-name
    - if name
      %span>= name
      \'s progress
%ul.badge{:class => small ? 'small' : ''}
  - badges.each do |badge|
    %li{:class => badge[:html_class]}
      .stat{:class =>"#{badge[:label].tr(' ','_').pluralize}"}= badge[:stat]
      .label= badge[:label]
