- small ||= false
- name ||= nil
- unless small
  .badge-name
    - if name
      Hi,&nbsp;
      %span>= name
      \. This is your progress!
%ul.badge{:class => small ? 'small' : ''}
  - badges.each do |badge|
    %li{:class => badge[:html_class]}
      .stat= badge[:stat]
      .label= badge[:label]
