.get-help
  %a{:href => 'mailto:drivelesschallenge@gmail.com?subject=[Challenge Help]'} Get Help
  or
  %a{:href => 'mailto:drivelesschallenge@gmail.com?subject=[Challenge Abuse]'} Report Abuse
  .privacy= link_to "Privacy Policy", privacy_path
.facebook
  %a{:href => 'http://www.facebook.com/pages/Drive-Less-Challenge/363692011065', :title => "Fan us on Facebook"} Facebook
.twitter
  %a{:href => 'http://twitter.com/driveless', :title => "Follow us on Twitter"} Twitter
.email
  %a{:href => 'mailto:drivelesschallenge@gmail.com', :title => "Contact us by email"} Email Us
.website
  %a{:href => 'http://drivelesschallenge.com', :title => "Drive Less Challenge Home Page"} About Us
.copyright
  my.drivelesschallenge.com
  %br>
  = "Copyright &copy 2010-2012 Drive Less Challenge"
  %br>
  All Rights Reserved
