%ol
  = link_to_nav "Login",  root_path, :description => "access your account"
  = link_to_nav "Signup", register_path
  %li
    %p{:style => 'text-align: left; font-size: 19px'}
      If you haven't created an account and made a profile here you should signup. You must signup even if you pre-registered before Earth Day.
