%ol
  = link_to_nav "Login",  root_path, :description => "access your account"
%ol{:class => 'info guide', :style => 'padding: 0px 19px;margin-right: -20px;padding-top: 10px'}
  = link_to_nav "Signup", register_path, :description => "create a profile and get started"
  %li
    %p{:style => 'text-align: left; font-size: 19px'}
      If you haven't created an account yet, you should sign up now.
