%ul.user-stats
  %li.green-miles
    .stat= current_user.green_miles.to_i
    .label green miles
  %li.of-goal
    .stat= current_user.percent_of_personal_goal_reached.to_i
    .label % of goal
  %li.carbon-saved
    .stat= current_user.lb_co2_saved
    .label lb co2 saved
