@import compass/utilities/general/clearfix.sass
@import 960/grid.sass

// Colors
  <!-- Paste this content in the Application.Resources section of App.xaml -->
  <SolidColorBrush x:Key="Brush1" Color="#FFFFFFFF" />
  <SolidColorBrush x:Key="Brush2" Color="#FFE6F0FF" />
  <SolidColorBrush x:Key="Brush3" Color="#FF9DBCEB" />
  <SolidColorBrush x:Key="Brush4" Color="#FF415C85" />
  <SolidColorBrush x:Key="Brush5" Color="#FF293240" />

  255,255,255
  230,240,255
  157,188,235
  65,92,133
  41,50,64
  
  New set from a bathroom:
  light-brown: rgb(201,151,70)
  light-blue:  rgb(68,101,64)
  dark-blue:   rgb(77,90,72)
  brown:       rgb(69,82,24)
  white:       rgb(255,243,171)

!brush1 = #FFFFFF
!brush2 = #E6F0FF
!brush3 = #9DBCEB
!brush4 = #415C85
!brush5 = #293240

!site_background = "white"
!site_text = "black"
!header_color = "rgb(51,95,134)"

!serif_font = "Palatino Linotype", "Book Antiqua", "Palatino", "serif"
!sans_font  = "Helvetica, sans-serif"

=carved-text
  text-shadow = "#{!brush2} 0px 1px 1px"

=rounded(!radius)
  -webkit-border-radius = !radius
  -moz-border-radius = !radius
  border-radius = !radius
  behavior: url(../../javascripts/border-radius.htc)

=border-box
  -webkit-box-sizing: border-box
  -moz-box-sizing: border-box
  -o-box-sizing: border-box
  box-sizing: border-box

=box-shadow(!left, !top, !spread, !color = rgba(0,0,0,0.3))
  -webkit-box-shadow = "#{!left} #{!top} #{!spread} #{!color}"
  -moz-box-shadow = "#{!left} #{!top} #{!spread} #{!color}"
  -o-box-shadow = "#{!left} #{!top} #{!spread} #{!color}"
  box-shadow = "#{!left} #{!top} #{!spread} #{!color}"

=inline-block
  display: inline-block
  *display: inline
  zoom: 1

body
  background: white
  color: black
  font-family = !sans_font

a
  color: #00f
  img
    border: none

.container
  +grid-container
  +clearfix

.top
  padding-top: 19px
  background: #cfc
  border-bottom: #060 1px solid
.mid
  padding-top: 19px
  background: white
.bot
  background: white
  padding-top: 19px


.footer
  +grid(12,12)

.title
  +grid(2,12)
  +grid-suffix(1,12)
  +grid-prefix(1,12)
  color = black
  text-align: right
  h1
    font-size: 200%
.header
  +grid(8,12)
  color = !header_color
  height: 114px
.navigation
  +grid(3,12)
  +grid-suffix(1,12)
  clear: left
  ol
    display: block
    list-style: none
    padding: 0
    margin: 0
    li
      display: block
      list-style: none
      padding: 0
      margin: 0
      text-align: right
      a
        font-size: 150%
        display: block
        text-decoration: none
        color = rgba(0,102,0,0.5)
        text-transform: uppercase
        &:hover
          color = rgba(0,102,0,1.0)
    .current
      a
        color: black
        font-weight: bold
        &:hover
          color: black
.main
  +grid(8,12)

#flash_notice, #flash_error
  padding: 5px 8px
  margin: 10px 0

#flash_notice
  background-color: #CFC
  border: solid 1px #6C6

#flash_error
  background-color: #FCC
  border: solid 1px #C66

#errorExplanation
  width: 400px
  border: 2px solid #CF0000
  padding: 0px
  padding-bottom: 12px
  margin-bottom: 20px
  background-color: #f0f0f0
  h2
    text-align: left
    font-weight: bold
    padding: 5px 5px 5px 15px
    font-size: 12px
    margin: 0
    background-color: #c00
    color: #fff
  p
    color: #333
    margin-bottom: 0
    padding: 8px
  ul
    margin: 2px 24px
    li
      font-size: 12px
      list-style: disc

input#user_openid_identifier, input#user_session_openid_identifier
  background: url(http://openid.net/images/login-bg.gif) no-repeat
  background-color: #fff
  background-position: 0 50%
  color: #000
  padding-left: 18px

.baseline
  .foot,.head
    font-weight: bold
  .head
    vertical-align: top

.baseline-travel
  ol
    display: block
    padding: 0
    margin: 0
    li
      +inline-block
      width: 24%
      padding: 0
      margin: 0

.trip-stream
  margin: 0
  padding: 0
  border-collapse: collapse
  th
    font-weight: bold
    &.where
      padding-right: 20px
    &.how
      padding-right: 20px
    &.distance
      padding-right: 20px
    &.when
      padding-right: 20px
    &.actions
  #trip_distance
    width: 120px
  #trip_made_at
    width: 80px
  tr
    height = 19px * 2
    border-bottom: 1px solid #aaa

.user-stats
  display: block
  float: right
  margin: 0
  padding: 0
  li
    &.no-baseline
      background: #900
    +inline-block
    margin: 0
    padding: 0
    +border-box
    +rounded(4px)
    +box-shadow(0px, 2px, 2px)
    background: #060
    color: white
    text-align: center
    padding: 4px
    margin-left: 20px
    height: 95px
    min-width: 114px
    max-width: 171px
    .stat
      font-size: 47px
      font-weight: bold
    .label
      font-size: 11px
      letter-spacing: 1px
      text-transform: uppercase
      a
        color: white

.baseline-alert
  +border-box
  +rounded(4px)
  +box-shadow(0px, 2px, 4px)
  background: #900
  color: white
  a
    +border-box
    +rounded(4px)
    color: white
    background: #a00
    display: block
    height = 19px * 2 + 10
    line-height = 19px * 2
    font-size = 19px
    text-transform: uppercase
    font-weight: bold
    vertical-align: middle
    padding: 5px
  span
    height = 19px + 10
    line-height = 19px + 10
    vertical-align: middle
    +border-box
    margin: 5px
    display: inline-block
