@import compass/utilities/general/clearfix.sass
@import 960/grid.sass

// Colors
  <!-- Paste this content in the Application.Resources section of App.xaml -->
  <SolidColorBrush x:Key="Brush1" Color="#FFFFFFFF" />
  <SolidColorBrush x:Key="Brush2" Color="#FFE6F0FF" />
  <SolidColorBrush x:Key="Brush3" Color="#FF9DBCEB" />
  <SolidColorBrush x:Key="Brush4" Color="#FF415C85" />
  <SolidColorBrush x:Key="Brush5" Color="#FF293240" />

  255,255,255
  230,240,255
  157,188,235
  65,92,133
  41,50,64
  
  New set from a bathroom:
  light-brown: rgb(201,151,70)
  light-blue:  rgb(68,101,64)
  dark-blue:   rgb(77,90,72)
  brown:       rgb(69,82,24)
  white:       rgb(255,243,171)

!brush1 = #FFFFFF
!brush2 = #E6F0FF
!brush3 = #9DBCEB
!brush4 = #415C85
!brush5 = #293240

!site_background = "white"
!site_text = "black"
!header_color = "rgb(51,95,134)"

!serif_font = "Palatino Linotype", "Book Antiqua", "Palatino", "serif"
!sans_font  = Helvetica, sans-serif

=carved-text
  text-shadow = "#{!brush2} 0px 1px 1px"

=rounded(!radius, !sides = "all")
  @if !sides == "all"
    -webkit-border-radius = !radius
    -moz-border-radius = !radius
    border-radius = !radius
  @else if !sides == "left"
    -webkit-border-top-left-radius = !radius
    -webkit-border-bottom-left-radius = !radius
    -moz-border-radius-topleft = !radius
    -moz-border-radius-bottomleft = !radius

=border-box
  -webkit-box-sizing: border-box
  -moz-box-sizing: border-box
  -o-box-sizing: border-box
  box-sizing: border-box

=box-shadow(!left, !top, !spread, !color = 'rgba(0,0,0,0.3)')
  -webkit-box-shadow = "#{!left} #{!top} #{!spread} #{!color}"
  -moz-box-shadow = "#{!left} #{!top} #{!spread} #{!color}"
  -o-box-shadow = "#{!left} #{!top} #{!spread} #{!color}"
  box-shadow = "#{!left} #{!top} #{!spread} #{!color}"

body
  background: white
  color: black
  font-family = !sans_font

a
  color: #00f
  img
    border: none

#container
  +grid-container
  +clearfix
  margin-top: 19px

.footer
  +grid(12,12)

.title
  +grid(4,12)
  +carved-text
  color = !header_color
  text-align: right
  h1
    font-size: 200%
.header
  +grid(8,12)
  +carved-text
  color = !header_color
  height: 114px
  margin-bottom: 19px
.navigation
  +grid(4,12)
  clear: left
  ol
    display: block
    list-style: none
    padding: 0
    margin: 0
    li
      display: block
      list-style: none
      padding: 0
      margin: 0
      text-align: right
      a
        font-size: 150%
        display: block
        text-decoration: none
        color = !brush4
        text-transform: uppercase
        &:hover
          color = !brush5
    .current
      a
        color: black
        font-weight: bold
        &:hover
          color: black
.main
  +grid(8,12)
  border: 1px solid #eee
  +rounded(5px)
  +border-box

#flash_notice, #flash_error
  +grid(12,12)
  padding: 5px 8px
  margin: 10px 0

#flash_notice
  background-color: #CFC
  border: solid 1px #6C6

#flash_error
  background-color: #FCC
  border: solid 1px #C66

#errorExplanation
  width: 400px
  border: 2px solid #CF0000
  padding: 0px
  padding-bottom: 12px
  margin-bottom: 20px
  background-color: #f0f0f0
  h2
    text-align: left
    font-weight: bold
    padding: 5px 5px 5px 15px
    font-size: 12px
    margin: 0
    background-color: #c00
    color: #fff
  p
    color: #333
    margin-bottom: 0
    padding: 8px
  ul
    margin: 2px 24px
    li
      font-size: 12px
      list-style: disc

input#user_openid_identifier, input#user_session_openid_identifier
  background: url(http://openid.net/images/login-bg.gif) no-repeat
  background-color: #fff
  background-position: 0 50%
  color: #000
  padding-left: 18px

.baseline
  .foot,.head
    font-weight: bold
  .head
    vertical-align: top

.baseline-travel
  ol
    display: block
    padding: 0
    margin: 0
    li
      display: inline-block
      width: 24%
      padding: 0
      margin: 0

.trip-form-headers
  span
    display: inline-block
    width: 33%
    padding-right: 20px
    +border-box
    font-weight: bold
    font-size: 14pt
.trip
  .inputs,.buttons
    ol
      li
        display: inline-block
        width: 33%
        &#trip_made_at_input
          display: block
          width: auto
          clear: both
        &.commit
          display: block
          clear: both
          margin-top: 50px

.trip-entry
  .controls
    float: right

.user-stats
  display: block
  float: right
  margin: 0
  padding: 0
  li
    display: inline-block
    margin: 0
    padding: 0
    +border-box
    +rounded(4px)
    +box-shadow(0px, 4px, 4px, 'rgba(0, 0, 0, 0.3)')
    background: grey
    color: white
    text-align: center
    padding: 4px
    margin-left: 20px
    height: 114px
    min-width: 114px
    max-width: 171px
    .stat
      font-size: 47px
      font-weight: bold
    .label
      font-size: 11px
      letter-spacing: 1px
      text-transform: uppercase
