%ol
  %li
    = link_to "Log a trip!",  new_account_trip_path
  %li
    = link_to "Your Baseline", edit_baseline_path(current_user.baseline)
  %li
    = link_to "Account Settings", edit_account_path
  %li
    = link_to "Logout", account_path
