- title "Friendships"

- render :layout => 'shared/tip' do
  %p
    You can find other Drive Less Challenge users in your
    = link_to 'groups and communities.', account_groups_path
    Make friends with them there and watch their progress here!
= render :partial => 'shared/leaderboard_filter_form'

%h2 Your Friends

- if @friends.any?
  = render :partial => 'shared/leaderboard', :locals => {:items => @friends, :group => false, :friendship => false }
- else
  %p You don't have any friends yet on Drive Less Challenge. Try looking them up in your groups or community.

%h2 Your Fans

- if @fans.any?
  = render :partial => 'shared/leaderboard', :locals => {:items => @fans, :group => false, :friendship => false }
- else
  %p Don't worry, everybody has to start somewhere. Go find some friends, and perhaps they'll reciprocate.
