= "Hello #{@friend.name},"
= "Wile E. Coyote is driving less with the Drive Less Challenge and has added you as a friend! Signup at http://my.drivelesschallenge.com/users/sign_up."
= @friend.email

Cheers,
The Drive Less Challenge Team

