= "Hello "#{@user.name},"
= "You have changed your password! Login with new password at:  http://my.drivelesschallenge.com#{password_resets}"

Welcome to the Drive Less Challenge!

Cheers,
The Drive Less Challenge Team

