- title "Communities"

- if admin_logged_in?
  %p
    = link_to "new", new_community_path

%h1 All Communities in The Challenge
%h3 Leading Communities by Green Miles
= render :partial => 'shared/leaderboard', :locals => { :items => @communities, :group => false, :friendship => false }
