- semantic_form_for @trip do |form|
  - form.inputs do
    = form.input :user_id, :label => 'User'
    = form.input :destination_id, :label => 'Destination'
  - form.buttons do
    = form.commit_button 'Submit'
